h4 {
  line-height: 2.5rem;
}

span {
  display: flex;
  justify-content: space-between;  
}

span button {
  padding-left: 6px;
  padding-right: 6px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sessionInfo div{
  padding-top: 1rem;
}

.customButton {
  margin-bottom: 1rem;
  
}